{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h2>Controle de gastos</h2>
<p class="saldo">Saldo atual: R$ {{ "%.2f"|format(saldo) }} </p>

<h3>Receitas <a href="{{ url_for('main.adicionar_receita') }}">Adicionar</a></h3>
<table>
    <tr><th>Descrição</th><th>Valor</th><th>Data</th><th>Ações</th></tr>
    {% for r in receitas %}
    <tr>
        <td>{{ r.descricao }}</td>
        <td>{{ "%.2f"|format(r.valor) }}</td>
        <td>{{ r.data.strftime('%d/%m/%Y') }}</td>
        <td>
            <a href="{{ url_for('main.editar_receita', id=r.id) }} " class="btn btn-edit">Editar</a>
            <a href="{{ url_for('main.deletar_receita', id=r.id) }}" class="btn btn-delete">Deletar</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Despesas <a href="{{ url_for('main.adicionar_despesa') }}">Adicionar</a></h3>
<table>
    <tr><th>Descrição</th><th>Valor</th><th>Data</th><th>Ações</th></tr>
    {% for d in despesas %}
    <tr>
        <td>{{ d.descricao }}</td>
        <td>{{ "%.2f"|format(d.valor) }}</td>
        <td>{{ d.data.strftime('%d/%m/%Y') }}</td>
        <td>
            <a href="{{ url_for('main.editar_despesa', id=d.id) }}" class="btn btn-edit">Editar</a>
            <a href="{{ url_for('main.deletar_despesa', id=d.id) }}" class= "btn btn-delete">Deletar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
